.home-container {
  width: 90%;
}

.home-container * {
  color: var(--secondary-color);
}

.intro-container {
  /* background-color: rgb(204, 11, 11); */
  border-radius: 50px;
}

.intro-container > div {
  margin-bottom: 60px;
}

.daily-encounter {
  border: yellow 2px dashed;
}

.cover-crawl {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
}
